#t_a-c {
    text-align: center;
}

#btn_o {
    margin: 0;
    padding: 0;
    width: 20%;
}


#t_a-c > table {
    margin: 0 auto;
    width: 90vw;
    height: auto;
    border: 1px solid #007100;
    border-radius: 10%;
}
