.nav-container {
    width: 800px;
    display: flex;
    flex-direction: row;
}
.nav-child {
    width: 200px;
    order : 5;
    text-align: center;
    font-size: 10px;
}

.nav-child img {
    width: 200px;
    height: 200px;
}
#img1{
    background-image: url("./img/home.png");
    width: 20px;
    height: 20px;
}