#result-list{
    margin: 0 auto;
    margin-left: 10vw;
}
#pagination{
    padding: 0;
    margin-top: 3vh;
    margin-left: 29vw;
}
#place_name{
    font-weight: bold;
}
.page-count, .on{
    margin: 0 auto;
}
.page-count{
    padding: 10px;
    font-size: 20px;
    color: rgb(101, 184, 93);
}
.on{
    padding: 10px;
    font-size: 27px;
    color: rgb(101, 184, 93);
    font-weight: bold;
}
.page-count:hover, .on:hover{
    color: rgb(129, 129, 129);
}