.inputForm-con {
    margin: 10px 0;
    width: 100%;
    height: auto;
}

.inputForm {
    margin: 0 auto;
    width: 60%;
}

.inputForm > input {
    width: 60%;
    height: 30px;
}

.btn {
    width: 20%;
}